* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.pd-y {
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}
.pd-y-s {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
.mg-t {
  margin-top: 80px !important;
}
img {
  width: 100%;
  height: 100%;
}

.black-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.black-layer-to-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.black-layer-to-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
