@import "tailwindcss";

:root {
  /* Colors */
  --background: #121212;
  --primary: #2231ff;
}

body {
  font-family: var(--font-Lato);
}

@theme {
}

@layer utilities {
  .container {
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
