@import "tailwindcss";

:root {
  /* Colors */
  --background: #000000;
  --primary: #2231ff;
}

body {
  font-family: var(--font-Lato);
}

.pd-y {
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}
.pd-y-s {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
.mg-t {
  margin-top: 80px !important;
}
.black-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.black-layer-to-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}
.black-layer-to-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

@layer utilities {
  .container {
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.slick-dots li button:before {
  color: var(--primary) !important;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: var(--primary) !important;
  opacity: 1;
}
